<div class="layoutQ px-[1px] py-[15px] bg-[#8080801c] ">
    <h3 class="headerQ mr-[15px] ml-[10px] mb-0 font-sans font-medium text-[1.75rem] leading-[1.2] text-[#000000d9]">
        Thêm mới sản phẩm</h3>
</div>
<section class="px-[15px] mb-[15px]">
    <form (ngSubmit)="PreviewData()" [formGroup]="DataForm" class="w-1/2">
        <div class="flex flex-col relative my-2">
            <label for="" class="inline-block relative font-bold text-sm font-sans">Ảnh đại diện sản phẩm</label>
            <button class="add-file ant-btn flex flex-wrap relative ant-btn-default" type="button" (click)="showDialog()"
                style="width: 100px; height: 100px;">
                <img src="./assets/images/img_add.png" alt="">
            </button>
        </div>
        <div class="flex flex-col relative my-2">
            <label for="" class="inline-block relative font-bold text-sm font-sans">Ảnh sản phẩm</label>
            <button class="add-file ant-btn flex flex-wrap relative ant-btn-default" type="button" (click)="showDialog()"
                style="width: 100px; height: 100px;">
                <img src="./assets/images/img_add.png" alt="">
            </button>
        </div>
        <div class="grid grid-cols-2 gap-4">
            <app-custominput *ngFor="let it of data" [form]="DataForm" [values]="it"
                (out_delete)="delete_input_temp($event)"></app-custominput>
            <button type="button" (click)="status_type=!status_type"
                class="mt-[23px] leading-[1.5] relative inline-block font-normal text-center cursor-pointer 
                h-8 px-[15px] bg-white text-[#196898] text-[13px] mr-[5px] mb-[5px] border border-solid border-[#196898]">
                <i class="fa fa-plus mr-1" aria-hidden="true"></i>Thêm thuộc tính</button>
        </div>
        <div class=" my-2" [ngClass]="{'block':status_type,'hidden':!status_type}">
            <app-addinput [dynamic_num]="dynamic_num" (out_data)="add_input($event)" (out_exist)="exit_thempro($event)"
                (out_delete)="delete_input_temp($event)">
            </app-addinput>
        </div>
        <div>
            <app-autocompleinput></app-autocompleinput>
        </div>
    </form>   
    <div class="flex">
        <button type="button" (click)="PreviewData()"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Cập
            nhật</button>
        <button routerLink="/portal/products" type="button"
            class="leading-[1.5] relative inline-block font-normal text-center cursor-pointer h-8 px-[15px] bg-[#196898] text-white text-[13px] mr-[5px] mb-[5px]">Quay
            lại</button>
    </div>
</section>